<!-- interpolation -->
<h1>Interpolation</h1>
<h2>My Name is {{ name }}</h2>
<br /><br />

<!-- property binding -->
<h1>Property Binding</h1>
<button [disabled]="isDisabled" [class.borderNone]="boolean">Click Me</button>
<br /><br /><br />

<!-- Event Binding -->
<h1>Event Binding</h1>
<button (click)="change()">
  Toggle above button
</button>
<br /><br /><br />

<!-- Two way-data binding -->
<h1>Two-Way Data Binding</h1>
<input type="text" [(ngModel)]="text" />
<br /><br />
<p style="font-size: 25px;">
  <strong>Above Text is being shown here:</strong> {{ text }}
</p>
<br /><br />

<!-- ngIf -->
<h1>ngIf</h1>
<button (click)="changeFlag()">Change Text</button>
<br /><br />
<div *ngIf="flag; else elseBlock" style="font-size: 25px;">
  Angular is pretty easy.
</div>
<br />
<ng-template #elseBlock>
  <div style="font-size: 25px;">
    Angular is not that easy.
  </div>
</ng-template>
<br />

<!-- ngFor -->
<h1>ngFor</h1>
<ul>
  <li *ngFor="let item of items" style="font-size: 25px;">{{ item }}</li>
</ul>
